<h1>Courses</h1>

<div>
  {{#each courses}}
    {{this.name}} // ¿Por qué "this.name" y no courses.name?
  {{/each}}
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>